<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'HOME.change' | translate:params}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #myform="ngForm">
    <div class="form">
      <ion-item class="userdata">
        <ion-input
          #input
          placeholder="{{ 'HOME.cp' | translate:params}}"
          type="password"
          [(ngModel)]="password.old_password"
          name="currentPassword"
          required
          minlength="4"
        ></ion-input>
        <ion-icon
        [name]="passwordIcon"
          slot="end"
          (click)="showPassword(input)"
        ></ion-icon>
      </ion-item>
      <ion-item class="userdata">
        <ion-input
          #input1
          placeholder="{{ 'HOME.np' | translate:params}}"
          type="password"
          [(ngModel)]="password.new_password"
          name="newPassword"
          required
          minlength="4"
        ></ion-input>
        <ion-icon
          [name]="passwordIcon1"
          slot="end"
          (click)="showPassword1(input1)"
        ></ion-icon>
      </ion-item>
      <ion-button
        id="loginbtn"
        expand="block"
        (click)="resetPassword()"
        color="danger"
        [disabled]="!myform.form.valid"
        >{{ 'HOME.change' | translate:params}}</ion-button
      >
      <button id="clear" (click)="clear()">{{ 'HOME.cancel' | translate:params}}</button>
    </div>
  </form>
</ion-content>
